[Unit]
Description=Dokku app redeploy service
After=docker.target

[Service]
Type=simple
User=dokku
ExecStart=/usr/local/bin/dokku ps:restartall

[Install]
WantedBy=multi-user.target
